@CHARSET "UTF-8";

.imagembanerprincipal {
	max-width: 130px;
	/*cabeçalho imagem*/
}

.menucabeçalho {
	/*cabeçalho */
	
}

.menu {
	padding-bottom: 5px;
}

.menuVertical {
	padding-top: 50px;
	/*height:200px; */
	float: left;
	/*border-style: solid; para saber onde a div começa  e acaba*/
}

.conteudoJSF {
	width: 1000;
	/*usado só no template 3*/
	border-style: solid;
	border-color: aqua;
}

.rodape {
	clear: both;
	text-align: center;
	border: 0.2px solid gray;
	background-image: linear-gradient(to bottom, white, #c4c3d0);
	border-radius: 3px;
	height: 20px;
	font-weight: bolder;
	width: 1304px;
	border-style: solid;
	border-color: #d3d3d3;
	
}

.centralizar {
	text-align: center; /*centraliza texto */
	color: blue;
}

.body { /* fundo total do site*/
	background-color: #30303d;
}

#googft-legend {
	background-color: #fff;
	border: 1px solid #000;
	font-family: Arial, sans-serif;
	font-size: 12px;
	margin: 5px;
	padding: 10px 10px 8px;
}

#googft-legend p {
	font-weight: bold;
	margin-top: 0
}

#googft-legend div {
	margin-bottom: 5px
}

.googft-legend-swatch {
	border: 1px solid;
	float: left;
	height: 12px;
	margin-right: 8px;
	width: 20px
}

.googft-legend-range {
	margin-left: 0
}

.googft-dot-icon {
	margin-right: 8px
}

.googft-paddle-icon {
	height: 24px;
	left: -8px;
	margin-right: -8px;
	position: relative;
	vertical-align: middle;
	width: 24px
}

.googft-legend-source {
	margin-bottom: 0;
	margin-top: 8px
}

.googft-legend-source a {
	color: #666;
	font-size: 11px
}

/*-------------------------------- svg mapas --------------------------------*/
.mapael .mapTooltip {
	position: absolute;
	background-color: #fff;
	moz-opacity: 0.70;
	opacity: 0.70;
	filter: alpha(opacity = 70);
	border-radius: 10px;
	padding: 10px;
	z-index: 1000;
	max-width: 200px;
	display: none;
	color: #343434;
}

svg {
	height: 57vw; /*altura do mapa dentro da div */
}
/*
path {  cor do mapa 
	fill: #d3d3d3;
	transition: .6s fill;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 0.5;
	stroke-opacity: 1";
}

path:hover {
	fill: #0000FF;  cor do mapa quando o mouse passa por cima 
} */
.container {
	width: 1300px; /* serve para o tamanho do conteúdo e do mapa */
	float: left;
	height: 522px;
	border-style: solid;
	border-color: #d3d3d3;
}

.areaLegend {
	float: left;
	/*float com float deixa a legenda solta dentro da div container*/
	width: 1300px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	border: 0.2px solid gray;
	background-image: linear-gradient(to bottom, white, #c4c3d0);
	border-radius: 3px;
	height: 20px;
	font-weight: bolder;

	/* legenda mapa */
}